<!DOCTYPE html>
<html lang="en" ng-app="hostageApp">
<head>
    <title>Hostage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-flex.min.css">
    <link rel="stylesheet" type="text/css" href="css/theme.css">

    <script src="lib/moment.min.js"></script>
    <script src="lib/angular.js"></script>
    <script src="js/main.js"></script>
</head>
<body ng-controller="HostageController">
    <img class="splatter" src="images/splatter.png" ng-show="killed">
    <div class="container-fluid main-container">
        <h1>GeeMail</h1>
        <div class="row">
            <div class="col-xs-6">
                <h5>By Smoogle</h5>
            </div>
            <div class="col-xs-6">
                <p class="text-right">Mary Jones (maryjones@geemail.com)</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 no-padding" id="inbox">
                <div class="email" ng-class="{'unread': !email.read, 'read': email.read}" ng-repeat="email in emails" ng-click="openEmail(email)">
                    <div class="row">
                        <div class="col-xs-6">
                            <strong>{{email.from}}</strong>
                        </div>
                        <div class="col-xs-6 text-right">
                            {{email.time}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            {{email.subject}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-9" id="email">
                <div ng-hide="selectedEmail == null">
                    <h5>
                        From: <span class="no-weight">{{selectedEmail.from}}</span>
                    </h5>
                    <h5>
                        Subject: <span class="no-weight">{{selectedEmail.subject}}</span>
                    </h5>
                    <br>
                    <h3>{{selectedEmail.text}}</h3>
                    <img ng-src="images/{{selectedEmail.image}}" ng-show="selectedEmail.image.length">
                    <br>
                    <h2 ng-show="finalCountdown.length">
                        {{finalCountdown}}
                    </h2>
                    <h1 ng-show="endMessage.length">
                        {{endMessage}}
                    </h1>
                    <br>
                    <textarea rows="5" cols="80" ng-model="replyContent" ng-show="replyContent.length"></textarea>
                    <div ng-show="replySent">Reply sent.</div>
                    <br>
                    <button class="btn" ng-class="{'btn-default disabled': !selectedEmail.showPrimary, 'btn-primary btn-highlight': selectedEmail.showPrimary}" type="button" ng-click="reply()">Reply</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>